body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  height: 100vh;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 1.2fr 1.3fr;
  grid-template-rows: 0.6fr 4fr 0.45fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: #2d3640;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 75px;
  font-weight: 900;
}
aside {
  grid-area: aside;
  background-color: #707d8c;
  display: flex;
  flex-direction: column;
  color: white;
}
.aside-bar h1 {
  font-size: 1.5em;
  text-align: left;
  margin-left: 1em;
  font-weight: bold;
  margin-top: 1em;
}
.aside-bar ul {
  font-size: 1.2em;
  list-style: none;
  margin-top: 0;
}

.aside-bar li {
  margin-bottom: 0.6em;
}

li span {
  color: #515558;
  font-size: 16px;
}
main {
  grid-area: main;
  background-color: white;
}
.product {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  padding: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #a9bed1;
  border-radius: 5px 5px;
}
.card img {
  width: 15em;
  border-radius: 1em;
  margin-top: 1em;
}
.card h1 {
  font-size: 1.5em;
  margin: 0.2em;
  color: #2d3640;
}
.card p {
  font-size: 1.2em;
  margin: 0.2em;
}
.card button {
  padding: 10px 60px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #2d3640;
  border: none;
  border-radius: 0 0 5px 5px;
  width: 100%;
}
.card button:hover {
  background-color: #515558;
  border: none;
}
.card button:focus {
  background-color: #707d8c;
  border: none;
}
footer {
  grid-area: footer;
  background-color: #2d3640;
  text-align: center;
  color: white;
}
footer p {
  font-size: 25px;
}
footer span {
  font-weight: bold;
}
